.nav {
  grid-area: nav;
  background-color: rgb(195, 239, 245);
  text-align: center;
  padding: 10px;
  width: 105px;
}
.nav div {
  margin: 10px;
}

.item a {
  color: red;
  text-decoration: none;
}

.item :hover {
  color: green;
  font-weight: bold;
}
