
.body {
    text-align: center;
    margin: 50px;

}
.button, .button2, .button3{
    margin: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 30px;
    background-color: yellow;
}
.button2 {
    background-color: greenyellow;
}.button3 {
    background-color: #61dafb;
}

.h1{
    font-size: 50px;
    color: red;
    font-family: "Book Antiqua";
}.span {
     font-family: "Book Antiqua";
     font-size: 20px;
    color: black;
 }