.content {
  padding: 30px;
  text-align: center;
}

.grid {
  font-size: 50px;
  margin: 0px 0px 30px 0px;
  position: relative;
}

.grid_body {
  display: grid;
}

.grid_item1:hover {
  margin: 10px;
  text-align: center;
  padding: 30px;
  border: 3px solid grey;
  background-color: aquamarine;
}

.grid_item2:hover {
  margin: 30px;
  text-align: center;
  padding: 30px;
  border: 3px solid grey;
  background-color: yellowgreen;
}
.grid_item3:hover {
  margin: 30px;
  text-align: center;
  padding: 30px;
  border: 3px solid grey;
  background-color: red;
}
.grid_item4:hover {
  margin: 10px;
  text-align: center;
  padding: 30px;
  border: 3px solid grey;
  background-color: greenyellow;
}
.grid_item5:hover {
  margin: 10px;
  text-align: center;
  padding: 30px;
  border: 3px solid grey;
  background-color: blue;
}
.grid_item6:hover {
  margin: 10px;
  text-align: center;
  padding: 30px;
  border: 3px solid grey;
  background-color: orange;
}
