* {
  padding: 0;
  margin: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-gap: 10px;
  background-color: antiquewhite;
}
.wrapper div {
  font-size: 30px;
}
.one {
  align-self: start;
  background-color: aquamarine;
}
.two {
  align-self: center;
  background-color: blue;
}

.three {
  align-self: center;
  background-color: brown;
}
.four {
  align-self: end;
  background-color: rgb(64, 173, 131);
}
.five {
  align-self: start;
  background-color: olivedrab;
}
.six {
  align-self: end;
}
