.style {
  display: grid;
  grid-template-columns: 700px;
  align-self: center;
}
.table {
  border: 3px solid green;
}

.table th,
td {
  border: 1px solid green;
  text-align: center;
}

.input {
  width: 50px;
  text-align: center;
  border-radius: 20%;
}
