.style {
  display: grid;
  grid-template-columns: 500px;
  align-self: center;
}
.table {
  border: 3px solid green;
}

.table th,
td {
  border: 1px solid green;
  text-align: center;
  align-self: center;
}
.button {
  width: 20px;
  height: 20px;
}
.input {
  width: 30px;
  text-align: center;
}
