.wrapper {
  display: grid;
  grid-template-areas:
    "header header "
    "nav article"
    "footer footer ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 15% 1fr;
  grid-gap: 10px;

  height: 100vh;
}

.header {
  grid-area: header;
  background-color: rgb(12, 243, 135);
  text-align: center;
  padding: 5px;
  font-size: 50px;
  font-family: Monotype Corsiva;
}
.nav {
  grid-area: nav;
  background-color: bisque;
  padding: 20px;
  text-align: center;
}
.article {
  grid-area: article;
  background-color: skyblue;
}
.footer {
  grid-area: footer;
  background-color: rgb(242, 246, 12);
  height: 70px;
}
